<div class="trip-container">
  <h2>Your Trips:</h2>
  <div class="trip-card-container">
    <div class="trip-card-link">
      <%= link_to new_trip_path do %>
        <div class = "trip-card">
          <div class = "trip-card-content">
            <div class="trip-photo"><p><i class="fas fa-plus" id="plus"></i></p></div>
            <h4>Add Trip</h4>
          </div>
        </div>
      <% end %>
    </div>
    <% @participants.each do |participant| %>
    <div class="trip-card-link">
      <%= link_to trip_path(participant.trip) do %>
      <div class = "trip-card">
        <div class="trip-card-content">
          <% unless participant.trip.photo.nil? %>
            <div class="trip-photo"><%= cl_image_tag participant.trip.photo, height: 170, width: 160, crop: :fill %></div>
          <% end %>
          <h4><%= participant.trip.name %><%=participant.trip.destination %></h4>
          <div class="trip-action-list">
            <p><%= link_to "Edit", edit_trip_path(participant.trip), class: "trip-btn" %></p>
            <p><%= link_to "Delete", trip_path(participant.trip),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this Trip?" }, class: "trip-btn"%></p>

          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
