<div class= "container-index">
  <div class="banner-index">
    <div class="banner-index-content">
      <h2><%= @trip.name %></h2>
      <br>
      <div class="trip-participants">
        <div id="ptc-box" class="d-flex justify-content-center">
          <% @trip.participants.each do |participant| %>
            <%= cl_image_tag participant.user.photo,
              width: 40, height: 40, gravity: :face, class: "trip-dash-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <%= link_to "+", new_trip_participant_path(@trip), class: "trip-dash-avatar ptc-btn" %>
        </div>
      </div>
    </div>
  </div>

 <% if @trip.accommodation_board.status == "Completed" && @trip.transportation_board.status == "Completed" && @trip.timeframe_board.status == "Completed" && @trip.destination_board.status == "Completed" && @trip.start_date.present? && @trip.end_date.present? %>
      <div class="summary-container">
          <h4>🎉 Congrats! You're ready to go on your trip 🎉 </h4>
          <div class="summary">
            <p>Destination: <strong><%= @winning_destination.name %></strong> </p>
            <p>Arrival: <strong><%= (@trip.start_date).strftime('%a %e. %B %Y') %> </p>
            <p>Departure: <strong><%= (@trip.end_date).strftime('%a %e. %B %Y') %></strong> </p>
             <p>  Accommodation: <strong><%= @winning_accommodation.name %></strong> </p>
          </div>
      </div>
<% end %>
  <div class="home-container">
      <div class="index-container">
            <% @boards.each do |board| %>
          <%if board.type == "TimeframeBoard"

            link = timeframe_board_timeframes_path(board)
            svg_name = 'calendar.svg'
          elsif board.type == "AccommodationBoard"
            link = accommodation_board_accommodations_path(board)
            svg_name = 'house.svg'
          elsif board.type == "TransportationBoard"
            link = transportation_board_transportations_path(board)
            svg_name = 'plane.svg'
          elsif board.type == "DestinationBoard"
            link = destination_board_destinations_path(board)
            svg_name = 'world.svg'
          end%>
            <div class="board-container-card">
                <%= link_to link do %>
              <div class=<%="board-card-#{board.type}"%>>
                <%= image_tag svg_name, class: "svg-img" %>
                <h2><%=board.name %></h2>
                <p class="desc" style="color: #00000094; margin: auto; line-height: 22px; font-size: 16px;"><%=board.description%></p>
                <p style="margin-top: 13px" class="status"><em class="<%=board.status%>" style="padding: 6px;font-size: 14px; border-radius: 2px;"><%=board.status&.capitalize%></em></p>
              </div>
              <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>







