<div class="board-container">
  <%= link_to "Add participants", new_trip_participant_path(@trip), class: "trip-btn" %>
  <p><%= link_to "Back", dashboard_path(@user), class: "trip-btn" %></p>
  <div class="board-container-small">
    <% @boards.each do |board| %>
      <%if board.type == "TimeframeBoard"
        link = timeframe_board_timeframes_path(board)
      elsif board.type == "AccommodationBoard"
        link = accommodation_board_accommodations_path(board)
      elsif board.type == "TransportationBoard"
        link = transportation_board_transportations_path(board)
      elsif board.type == "DestinationBoard"
        link = destination_board_destinations_path(board)
      end%>
      <div class="board-container-card">
        <%= link_to link do %>
          <div class=<%="board-card-#{board.type}"%>>
            <span class="icon"></span>
            <h2><%=board.name %></h2>
            <p><%=board.description%></p>
            <p>Status: <%=board.status&.capitalize%></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

