<div class= "container-index">
  <div class="banner-index">
    <br>
    <h1> <strong>Dashboard for your trip  </strong> </h1>
    <br>
    <h2>"<%= @trip.name %>"</h2>
    <br>
    <div class="trip-participants">
      <div>
        <% @trip.participants.each do |participant| %>
          <%= cl_image_tag participant.user.photo,
            width: 40, height: 40, gravity: :face, class: "trip-dash-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>
      <%= link_to "Add participants", new_trip_participant_path(@trip), class: "ptc-btn" %>
    </div>
  </div>
  <div class="trip-show-action">
    <p><%= link_to "Back", dashboard_path(@user), class: "trip-btn" %></p>
    <p><%= link_to "Edit Trip", edit_trip_path(@trip), class: "trip-btn" %></p>
  </div>
  <div class="home-container">
      <div class="index-container">
            <% @boards.each do |board| %>
          <%if board.type == "TimeframeBoard"

            link = timeframe_board_timeframes_path(board)
          elsif board.type == "AccommodationBoard"
            link = accommodation_board_accommodations_path(board)
          elsif board.type == "TransportationBoard"
            link = transportation_board_transportations_path(board)
          elsif board.type == "DestinationBoard"
            link = destination_board_destinations_path(board)
          end%>
            <div class="board-container-card">
                <%= link_to link do %>
              <div class=<%="board-card-#{board.type}"%>>
                <span class="icon"></span>
                <h2><%=board.name %></h2>
                <p>Status: <%=board.status&.capitalize%></p>
                <p><%=board.description%></p>
              </div>
              <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>



