<div class= "container-index">
  <div class="banner-index">
    <div class="banner-index-content">
      <h1> <strong>Trip Dashboard  </strong> </h1>
      <h2><%= @trip.name %></h2>
      <%= link_to edit_trip_path(@trip), class: "edit" do %>
        <i class="far fa-edit"></i>
      <% end %>
      <br>
      <div class="trip-participants">
        <div id="ptc-box" class="d-flex justify-content-center">
          <% @trip.participants.each do |participant| %>
            <%= cl_image_tag participant.user.photo,
              width: 40, height: 40, gravity: :face, class: "trip-dash-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <%= link_to "+", new_trip_participant_path(@trip), class: "trip-dash-avatar ptc-btn" %>
        </div>
      </div>
    </div>
  </div>

 <% if @trip.accommodation_board.status == "Completed" && @trip.transportation_board.status == "Completed" && @trip.timeframe_board.status == "Completed" && @trip.destination_board.status == "Completed"  %>
      <div class="summary-container">
          <h4>🎉 Congrats! You're ready to go on your trip 🎉 </h4>
          <div class="summary">
            <p>Destination: <strong><%= @trip.winning_destination.name  %></strong> </p>
            <p>Arrival: <strong><%= (@trip.winning_timeframe.start_date).strftime('%a %e. %B %Y') %> </p>
            <p>Departure: <strong><%= (@trip.winning_timeframe.end_date).strftime('%a %e. %B %Y') %></strong> </p>
             <p>  Accommodation: <strong><%= @trip.winning_accommodation.name %></strong> </p>
          </div>
      </div>
<% end %>
  <div class="home-container">
      <div class="index-container">
            <% @boards.each do |board| %>
          <%if board.type == "TimeframeBoard"

            link = timeframe_board_timeframes_path(board)
          elsif board.type == "AccommodationBoard"
            link = accommodation_board_accommodations_path(board)
          elsif board.type == "TransportationBoard"
            link = transportation_board_transportations_path(board)
          elsif board.type == "DestinationBoard"
            link = destination_board_destinations_path(board)
          end%>
            <div class="board-container-card">
                <%= link_to link do %>
              <div class=<%="board-card-#{board.type}"%>>
                <span class="icon"></span>
                <h2><%=board.name %></h2>
                <p class="desc"><%=board.description%></p>
                <p class="status">Status: <em><%=board.status&.capitalize%></em></p>
              </div>
              <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>







