<p><%= link_to "Back", trip_boards_path(@board) %></p>
<% @transportations.each do |transport| %>
  <p> Transportation for <%=transport.user.first_name%> </p>
  <p>Route Number: <strong><%=transport.route_number%></strong></p>
  <p>Booking Number: <strong><%=transport.booking_number%></strong></p>
  <p>Departure Time: <strong><%=transport.departure_time%></strong></p>
  <p>Arrival Time: <strong><%=transport.arrival_time%></strong></p>
  <p>Departure Location: <strong><%=transport.departure_location%></strong></p>
  <p>Arrival Location: <strong><%=transport.arrival_location%></strong></p>
  <%= link_to "Edit", edit_transportation_path(transport) %>
  <%= link_to "Delete", transportation_path(transport),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this Transportation?" }%>
<% end %>
<h2></h2>
<%= link_to "Add Transportation", new_transportation_board_transportation_path(@board) %>
