<div class="form-container">
  <p><%= link_to "Back", timeframe_board_timeframes_path(@timeframe.board), class: "trip-btn" %></p>
  <h1> Edit your Timeframe: </h1>
  <div class="form-container-index">
    <%= form_for([@board, @timeframe])  do |f| %>
    <div class="index-cont">
          <div class="index-cont">
        <div class="form-field">
          <%= f.label :start_date %>
        <%= f.text_field :start_date, as: :string, label: "Start", id:"range_start", class: "datepicker", placeholder: Time.now.strftime("%B %e, %Y") %>
        </div>
        <div class="form-field">
          <%= f.label :end_date %>
          <%= f.text_field :end_date, as: :string, label: "Start", id:"range_end", class: "datepicker form-control", placeholder: Time.now.strftime("%B %e, %Y") %>
        </div>

       <%= f.submit "Add to calendar", class: "submit-button" %>
      </div>
    <% end %>
  </div>
</div>
