
<%= link_to "Add Timeframe", new_timeframe_board_timeframe_path(@board) %>

<% @timeframes.each do |tf| %>
  <p><%= tf.start_date %> - <%= tf.end_date %></p>
  <%= link_to "Edit", edit_timeframe_path(tf) %>
  <%= link_to "Delete", timeframe_path(tf),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this Timeframe?" }%>
<% end %>
<h2></h2>


<p><%= link_to "Back", trip_boards_path(@board) %></p>

