<div class="timeframes-container">
  <p><%= link_to "Back", trip_boards_path(@board), class: "trip-btn" %></p>
  <h1>Proposed Timeframes: </h1>
  <% @timeframes.each do |tf| %>
    <p><%= tf.start_date %> - <%= tf.end_date %> (<%=tf.user.first_name%>)
      <%= link_to "Edit", edit_timeframe_path(tf), class: "time-btn"  %>
      <%= link_to "Delete", timeframe_path(tf),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this Timeframe?" }, class: "time-btn" %>
    </p>
    <p> <%= tf.description %> </p>
  <% end %>
  <h2></h2>

  <%= link_to "Add Timeframe", new_timeframe_board_timeframe_path(@board), class: "time-btn" %>

  <% i = 1 %>
  <div class="wrapper" style="grid-template-columns: repeat(<%= (@last_date - @earliest_date).to_i %>, 1fr);">
   <% @timeframes.each do |tf| %>
   <!-- <%#= 1 + (tf.start_date - <%= @earliest_date%>).to_i %> -->

   <div class="one" style='grid-column: <%= 1 + (tf.start_date - @earliest_date).to_i %>
   / <%= 1 + (tf.start_date - @earliest_date).to_i + (tf.end_date - tf.start_date).to_i %>; grid-row: <%= i %>/ <%= i %> ;'><%=tf.user.first_name%>: <%= tf.start_date %> - <%= tf.end_date %>
   <%= link_to "âœï¸", edit_timeframe_path(tf) %>
   <%= link_to "ðŸ—‘", timeframe_path(tf),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this Timeframe?" }%>
  </div>
 <br>
 <% i += 1 %>
 <% end %>
  </div>
</div>



<!--<div class="two">Two</div>
  <div class="three">Three</div>
  <div class="four">Four</div>
  <div class="five">Five</div>
  <div class="six">Six</div>
  <div class="seven">Seven</div> -->
