<div class=container >
  <h1>Proposed Timeframes: </h1>

  <% @timeframes.each do |tf| %>
    <p><%= tf.start_date.strftime('%e.%m') %> - <%= tf.end_date.strftime('%e.%m.%Y') %> (<%=tf.user.first_name%>)


      <%= link_to "Edit", edit_timeframe_path(tf) %>
      <%= link_to "Delete", timeframe_path(tf),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this Timeframe?" }%>
    </p>
    <p> <%= tf.description %> </p>
  <% end %>


  <p><%= link_to "Add Timeframe", new_timeframe_board_timeframe_path(@board) %></p>
  <p><%= link_to "Back", trip_path(@board.trip) %></p>


  <% i = 3 %>
  <% col = 1 %>

  <% if @timeframes.any? %>

  <div class="wrapper" style="grid-template-columns: repeat(<%= (@last_date - @earliest_date).to_i %>, minmax(30px, 40px));">


    <!-- display month -->

    <!-- display weekdays and dates -->


    <% @total_dates.times do %>
      <span class="<%="grid-month-#{@first_day_grid.month}"%>"></span>
      <div class="grid-day" style='grid-column: <%= col %> / span 1 ; grid-row: 2/ span 1;'><%= (@first_day_grid).strftime('%a %e.') %>
      </div>
      <% col += 1 %>
      <% @first_day_grid += 1 %>
    <% end %>
    <!-- .next_day -->
    <!-- display timeframes -->
    <% @things.each do |thing| %>

    <% end %>

    <% @timeframes.each do |tf| %>
    <!-- <%#= 1 + (tf.start_date - <%= @earliest_date%>).to_i %> -->
      <div class="one" style='grid-column: <%= 1 + (tf.start_date - @earliest_date).to_i %> / <%= (tf.start_date - @earliest_date).to_i + 2 + (tf.end_date - tf.start_date).to_i %>; grid-row: <%= i %>/ <%= i %> ;'>
        <div class="d-flex justify-content-between"><%=tf.user.first_name%>:
        </div>
        <%= (tf.start_date).strftime('%e.%m') %> - <%= (tf.end_date).strftime('%e.%m') %>
        <%= link_to "edit", edit_timeframe_path(tf) %>
        <%= link_to "🗑", timeframe_path(tf),
              method: :delete,
            data: { confirm: "Are you sure you want to delete this Timeframe?" }%>
      </div>
      <br>
      <% i += 1 %>
    <% end %>
  </div>

    <% end %>
  </div>
</div>
