<div class=container >
  <h1>Proposed Timeframes: </h1>

  <% @timeframes.each do |tf| %>
    <p><%= tf.start_date.strftime('%e.%m') %> - <%= tf.end_date.strftime('%e.%m.%Y') %> (<%=tf.user.first_name%>)


      <%= link_to "Edit", edit_timeframe_path(tf) %>
      <%= link_to "Delete", timeframe_path(tf),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this Timeframe?" }%>
    </p>
    <p> <%= tf.description %> </p>
  <% end %>


  <p><%= link_to "Add Timeframe", new_timeframe_board_timeframe_path(@board) %></p>
  <p><%= link_to "Back", trip_path(@board.trip) %></p>



  <% if @timeframes.any? %>

  <%  x = "something to repush " %>

    <div class="wrapper" style="grid-template-columns: repeat(<%= @total_dates + 1%>, minmax(30px, 40px));">


    <!-- display month -->

    <!-- display weekdays and dates -->

    <% @total_dates.times do |i| %>
      <span class="<%="grid-month-#{@first_day_grid.month}"%>"></span>
      <div class="grid-day" style='grid-column: <%= i + 1 %> / span 1 ; grid-row: 2/ span 1;'><%= (@first_day_grid).strftime('%a %e.') %>
      </div>
      <% @first_day_grid += 1 %>
    <% end %>

    <% @board.trip.active_users.each_with_index do |user, index| %>
      <% user.timeframes.each do |timeframe| %>
        <div class="one" style='grid-column: <%= 1 + (timeframe.start_date - @earliest_date).to_i %> / <%= (timeframe.start_date - @earliest_date).to_i + 2 + (timeframe.end_date - timeframe.start_date).to_i %>; grid-row: <%= index + 3 %>/ <%= index + 3 %> ;'>
          <div class="d-flex justify-content-between"><%= user.first_name %>:
          </div>
          <%= (timeframe.start_date).strftime('%e.%m') %> - <%= (timeframe.end_date).strftime('%e.%m') %>
          <%= link_to "edit", edit_timeframe_path(timeframe) %>
          <%= link_to "🗑", timeframe_path(timeframe),
                method: :delete,
              data: { confirm: "Are you sure you want to delete this Timeframe?" }%>
        </div>
      <% end %>
    <% end %>
  </div>

    <% end %>
  </div>
