<div class="form-container">
  <p><%= link_to "Back", timeframe_board_timeframes_path(@board), class: "trip-btn" %></p>
  <h1> Add Timeframe: </h1>
  <%= form_for([@board, @timeframe])  do |f| %>
    <div class="form-group">
      <%= f.label :start_date %>
      <div>
      <%= f.text_field :start_date, as: :string, label: "Start", id:"range_start", class: "datepicker", placeholder: 'mm/dd/yyyy' %>
    </div>

    <div class="form-group">
      <%= f.label :end_date %>
      <div>
      <%= f.text_field :end_date, as: :string, label: "Start", id:"range_end", class: "datepicker", placeholder: 'mm/dd/yyyy' %>
    </div>

    <!-- prevent users from submitting a timeframe overlapping another of their own timeframes -->

    <%= f.button :submit, class: "trip-btn" %>
  <% end %>
</div>

