<p><%= link_to "Back", trip_boards_path(@board) %></p>
<% @accommodations.each do |acc| %>
  <p><%=acc.name%> suggested by: <%=acc.user.first_name%></p>
  <%= link_to "View", accommodation_path(acc) %>
  <%= link_to "Edit", edit_accommodation_path(acc) %>
  <%= link_to "Delete", accommodation_path(acc),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this Accommodation?" }%>
<% end %>
<h2></h2>
<%= link_to "Add Accommodation", new_accommodation_board_accommodation_path(@board) %>
