<div class="accom-container">
  <div class="accom-action">
    <p><%= link_to "Back", trip_path(@board.trip), class: "trip-btn" %></p>
    <%= link_to "Add Accommodation", new_accommodation_board_accommodation_path(@board), class: "accom-btn" %>
  </div>
  <% @accommodations.each do |acc| %>
    <div class="accom-card-link">
      <%= link_to ("#{acc.url}"), target: :_blank do %>
        <div class="accom-card">
          <div class="accom-card-content">
            <div class="accom-header">
              <h3><strong><%=acc.name%></strong></h3>
              <p> suggested by <strong><%=acc.user.first_name%></strong></p>
            </div>
            <p><%=acc.address%></p>
            <div class="accom-header">
              <p>Accommodation Type: <%=acc.kind%></p>
              <p class="accom-price"><strong><%=acc.price%>$</strong>/day</p>
            </div>
          </div>
          <div class="accom-action-list">
            <%= link_to "Edit", edit_accommodation_path(acc), class: "accom-btn" %>
            <%= link_to "Delete", accommodation_path(acc),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this Accommodation?" }, class: "accom-btn"%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
