<div class="row">
  <div class="col-12 col-lg-3">
    <div class="participant-list">
      <p>Added Participants:</p>
      <ul>
        <% @trip.participants.each do |participant| %>
          <li><%= participant.user.first_name %> <%=participant.user.last_name%></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="form-container">
      <%= simple_form_for([@trip, @participant])  do |f| %>
        <h1> Add Your Friends by entering their Email: </h1>

        <div class="form-group">
          <%= f.input :email, placeholder: "Enter email", label: false%>
        </div>

        <%= f.submit "Add Participant", class: "trip-btn"%>
      <% end %>
    </div>
  <%= link_to "Finish", trip_path(@trip), class: "trip-btn"%>
</div>
